.support {
    margin: 0px 0px 205px 0px;

    @media (max-width: $md1) {
        margin: 0px 0px 160px 0px;
    }

    @media (max-width: $md2) {
        margin: 0px 0px 130px 0px;
    }

    @media (max-width: $md3) {
        margin: 0px 0px 100px 0px;
    }

    &__container {
        position: relative;
    }

    &__bg-top {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        @media (max-width: $md2) {
            top: 10px;
            left: 10px;
        }
    }

    &__bg-down {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;

        @media (max-width: $md2) {
            bottom: 10px;
            right: 10px;
        }
    }

    &__content {
        padding: 69px 0 21px 0;
        display: flex;
        justify-content: space-between;

        @media (max-width: $md2) {
            gap: 70px;
            flex-direction: column;
        }
    }

    &__info {
        flex: 0 1 300px;
    }

    &__help {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        line-height: 1.5;

        img {
            margin: 10px 0px 0px 0px;
        }
    }

    &__num {
        color: $secondaryLight;
    }
}

.chat-support {
    &__items {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 20px;
        color: $secondaryLight;

        &:nth-child(2) {
            flex-direction: row-reverse;

            .chat-support__msg {
                background: #6A6D9E;
                border-radius: 30px 30px 0px 30px;
                color: white;
            }

            .chat-support__time {
                text-align: right;
            }
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
    }

    &__msg {
        background: #FFFFFF;
        font-size: 20px;
        border-radius: 30px 30px 30px 0px;
        min-width: 370px;
        padding: 30px 20px 30px 40px;
        margin: 0px 0px 10px 0px;
        max-width: 300px;
    }
}