$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1090px;
$md1: $maxWidthContainer+12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
$pink: #F44E77;
$primary: #554DDE;
$neutral: #F2F6FF;
$stroke: #CAD6F1;
$secondaryDark: #16194F;
$secondaryLight: #6A6D9E;